<div class="container-fluid">
    <div class="container  bg-dark">
        <h1 class="display-5 text-danger animated fadeIn">Sobre Darkest App</h1>
        <hr>
        <p class="lead text-danger animated fadeIn">Bueno, pues es una página web de práctica para familiarizarme con las rutas de Angular y
            regocijarme en mi propio friquismo.<br>Y poco más. Pongo las imágenes de unos héroes, una descripción
            y ahora mismo estoy escribiendo para hacer hueco así que bueno.
        </p>
    </div>
</div>
